Repository TakedaLab/B4Lecture-2024, pull requests merged in 2024-04, with the labels that each got.

#3 全ての演習課題の追加
  ex2/README.md
  ex2/figs/frequency_response.png
  ex2/figs/spectrogram.png
  ex3/README.md
  ex3/data1.csv
  ex3/data2.csv
  ex3/data3.csv
  ex3/figs/result.png
  ex4/README.md
  ex4/data1.csv
  ex4/data2.csv
  ex4/data3.csv
  ex4/figs/dim_reduction.png
  ex4/figs/pca.png
  ex5/README.md
  ex5/data1.csv
  ex5/data2.csv
  ex5/data3.csv
  ex5/figs/result1.png
  ex5/figs/result2.png
  ex6/README.md
  ex6/data1.pickle
  ex6/data2.pickle
  ex6/data3.pickle
  ex6/data4.pickle
  ex6/figs/result.png
  ex7/README.md
  ex7/figs/result.png
Labels: EX2, EX3, EX4, EX5, EX6, EX7

#11 三浦拓実 EX1 解答 python
  ex1/t_miura/main.py
  ex1/t_miura/spectrogram.png
  ex1/t_miura/voice_sample.wav
  ex1/t_miura/waveform_original.png
  ex1/t_miura/waveform_restored.png
Labels: EX1

#8 宮司光梨 EX1 解答 Python
  ex1/h_miyaji/B4_m.wav
  ex1/h_miyaji/main.py
  ex1/h_miyaji/result.png
Labels: EX1

#4 古田京平 EX1 解答 python
  ex1/k_furuta/main.py
  ex1/k_furuta/reconstructed_recording.wav
  ex1/k_furuta/recording.wav
  ex1/k_furuta/temp.png
Labels: EX1

#7 松本昌亮 EX1 解答 python
  ex1/m_matsumoto/.gitignore
  ex1/m_matsumoto/formatter.sh
  ex1/m_matsumoto/m4a2wav.sh
  ex1/m_matsumoto/main.py
  ex1/m_matsumoto/memo.txt
  ex1/m_matsumoto/my_voice.m4a
  ex1/m_matsumoto/my_voice.wav
  ex1/m_matsumoto/tmp.wav
Labels: EX1

#10 小川陽平 EX1 解答 python
  ex1/y_ogawa/Figure_1.png
  ex1/y_ogawa/Rec.wav
  ex1/y_ogawa/main.py
Labels: EX1

#13 浪崎恭佑 EX1 解答 [python]
  ex1/k_namizaki/main1.py
  ex1/k_namizaki/recoMono.wav
Labels: EX1

#14 Kk
  ex1/k_kondo/aiueo.wav
  ex1/k_kondo/main.py
Labels: EX1

#15 吉原輝 EX1 解答 python
  ex1/h_miyaji/B4_m.wav
  ex1/h_miyaji/main.py
  ex1/h_miyaji/result.png
  ex1/h_yoshihara/b4lecture_ex01.py
  ex1/h_yoshihara/ifft_wave.png
  ex1/h_yoshihara/spectogram.png
  ex1/h_yoshihara/wave.png
  ex1/h_yoshihara/月まで届け.wav
  ex1/k_furuta/main.py
  ex1/k_furuta/reconstructed_recording.wav
  ex1/k_furuta/recording.wav
  ex1/k_furuta/temp.png
  ex1/m_matsumoto/.gitignore
  ex1/m_matsumoto/formatter.sh
  ex1/m_matsumoto/m4a2wav.sh
  ex1/m_matsumoto/main.py
  ex1/m_matsumoto/memo.txt
  ex1/m_matsumoto/my_voice.m4a
  ex1/m_matsumoto/my_voice.wav
  ex1/m_matsumoto/tmp.wav
  ex1/t_miura/main.py
  ex1/t_miura/spectrogram.png
  ex1/t_miura/voice_sample.wav
  ex1/t_miura/waveform_original.png
  ex1/t_miura/waveform_restored.png
  ex1/y_ogawa/Figure_1.png
  ex1/y_ogawa/Rec.wav
  ex1/y_ogawa/main.py
  ex2/README.md
Labels: EX2, EX1
