Repository TakedaLab/B4Lecture-2024, pull requests merged in 2024-05, with the labels that each got.

#17 古田京平 EX02 解答 python
  ex2/k_furuta/ex1.py
  ex2/k_furuta/filtered_recording.wav
  ex2/k_furuta/main.py
  ex2/k_furuta/recording.wav
  ex2/k_furuta/result.png
Labels: EX2

#18 宮司光梨 EX2 解答 python
  ex2/h_miyaji/B4_m.wav
  ex2/h_miyaji/Spectrogram filtered.png
  ex2/h_miyaji/Spectrogram original.png
  ex2/h_miyaji/filtered_rec.wav
  ex2/h_miyaji/freq_responce.png
  ex2/h_miyaji/main.py
  ex2/h_miyaji/myfunc.py
Labels: EX2

#19 浪崎恭佑 EX2 解答 python
  ex2/k_namizaki/main2.py
  ex2/k_namizaki/recoMono.wav
Labels: EX2

#20 小川陽平 EX2 解答 python
  ex2/y_ogawa/ex1.py
  ex2/y_ogawa/main.py
Labels: EX2

#21 松本昌亮 EX2 解答 python
  ex2/m_matsumoto/filter.png
  ex2/m_matsumoto/filter.py
  ex2/m_matsumoto/main.py
  ex2/m_matsumoto/my_voice.wav
  ex2/m_matsumoto/out.wav
  ex2/m_matsumoto/wave.png
Labels: EX2

#23 吉原輝 EX2 解答 python
  ex1/h_yoshihara/b4lecture_ex01.py
  ex1/h_yoshihara/ifft_wave.png
  ex1/h_yoshihara/spectogram.png
  ex1/h_yoshihara/wave.png
  ex1/k_kondo/aiueo.wav
  ex1/k_kondo/main.py
  ex1/k_namizaki/main1.py
  ex1/k_namizaki/recoMono.wav
  ex1/main.py
  ex2/h_yoshihara/b4lecture_ex02.py
  ex2/h_yoshihara/filter.png
  ex2/h_yoshihara/filtered_spectrogram.png
  ex2/h_yoshihara/not_filtered_spectrogram.png
  ex2/h_yoshihara/wave.png
  ex2/h_yoshihara/月まで届け.wav
Labels: EX2

#24 三浦拓実 EX2 解答 python
  ex2/t_miura/amplitude_spectol.png
  ex2/t_miura/ex1.py
  ex2/t_miura/filtered_sample.wav
  ex2/t_miura/main.py
  ex2/t_miura/phase_spectol.png
  ex2/t_miura/spectrogram_filtered.png
  ex2/t_miura/spectrogram_original.png
  ex2/t_miura/voice_sample.wav
Labels: EX2

#29 三浦拓実 EX3 解答 python
  ex3/t_miura/data1.csv
  ex3/t_miura/data1.png
  ex3/t_miura/data1_regression.png
  ex3/t_miura/data2.csv
  ex3/t_miura/data2.png
  ex3/t_miura/data2_regression.png
  ex3/t_miura/data3.csv
  ex3/t_miura/data3.png
  ex3/t_miura/data3_regression.png
  ex3/t_miura/main.py
Labels: EX3

#30 吉原輝 EX3 解答 python
  ex3/h_yoshihara/b4lecture_ex03.py
  ex3/h_yoshihara/data1.png
  ex3/h_yoshihara/data2.png
  ex3/h_yoshihara/data3.png
  ex3/h_yoshihara/overfitting.png
  ex3/h_yoshihara/overfitting_redge.png
Labels: EX3

#32 古田京平 EX3 解答 python
  ex3/k_furuta/main.py
  ex3/k_furuta/normlized.png
  ex3/k_furuta/overfit.png
  ex3/k_furuta/regression1.png
  ex3/k_furuta/regression2.png
  ex3/k_furuta/regression3.png
Labels: EX3

#26 松本昌亮 EX3 解答 python
  ex3/m_matsumoto/.gitignore
  ex3/m_matsumoto/main.py
Labels: EX3

#34 松本昌亮 EX4 解答 python
  ex1/m_matsumoto/.gitignore
  ex4/m_matsumoto/kadai1/data1.png
  ex4/m_matsumoto/kadai1/data2/30-0.png
  ex4/m_matsumoto/kadai1/data2/30-120.png
  ex4/m_matsumoto/kadai1/data2/30-150.png
  ex4/m_matsumoto/kadai1/data2/30-180.png
  ex4/m_matsumoto/kadai1/data2/30-210.png
  ex4/m_matsumoto/kadai1/data2/30-240.png
  ex4/m_matsumoto/kadai1/data2/30-270.png
  ex4/m_matsumoto/kadai1/data2/30-30.png
  ex4/m_matsumoto/kadai1/data2/30-300.png
  ex4/m_matsumoto/kadai1/data2/30-330.png
  ex4/m_matsumoto/kadai1/data2/30-60.png
  ex4/m_matsumoto/kadai1/data2/30-90.png
  ex4/m_matsumoto/kadai2/data1.png
  ex4/m_matsumoto/kadai2/data2/30-0.png
  ex4/m_matsumoto/kadai2/data2/30-120.png
  ex4/m_matsumoto/kadai2/data2/30-150.png
  ex4/m_matsumoto/kadai2/data2/30-180.png
  ex4/m_matsumoto/kadai2/data2/30-210.png
  ex4/m_matsumoto/kadai2/data2/30-240.png
  ex4/m_matsumoto/kadai2/data2/30-270.png
  ex4/m_matsumoto/kadai2/data2/30-30.png
  ex4/m_matsumoto/kadai2/data2/30-300.png
  ex4/m_matsumoto/kadai2/data2/30-330.png
  ex4/m_matsumoto/kadai2/data2/30-60.png
  ex4/m_matsumoto/kadai2/data2/30-90.png
  ex4/m_matsumoto/kadai3/0-1.png
  ex4/m_matsumoto/kadai3/0-2.png
  ex4/m_matsumoto/kadai3/1-2.png
  ex4/m_matsumoto/main.py
  ex4/m_matsumoto/pre-data3.csv
  ex4/m_matsumoto/test.csv
Labels: EX4

#35 宮司光梨 EX4 解答 python
  ex4/h_miyaji/ex3.py
  ex4/h_miyaji/figs/result1.png
  ex4/h_miyaji/figs/result2-1.png
  ex4/h_miyaji/figs/result2-2.png
  ex4/h_miyaji/main.py
Labels: EX4

#36 吉原輝 EX4 解答 python
  ex4/h_yoshihara/b4lecture_ex04.py
  ex4/h_yoshihara/data1.csv
  ex4/h_yoshihara/data1_vector.png
  ex4/h_yoshihara/data2.csv
  ex4/h_yoshihara/data2_2d.png
  ex4/h_yoshihara/data2_vector.png
  ex4/h_yoshihara/data2_vector_0_0.png
  ex4/h_yoshihara/data2_vector_0_90.png
  ex4/h_yoshihara/data2_vector_90_0.png
  ex4/h_yoshihara/data3.csv
Labels: EX4

#37 古田京平 EX4 解答 python
  ex4/k_furuta/Result_data1.png
  ex4/k_furuta/Result_data2.png
  ex4/k_furuta/main.py
  ex4/k_furuta/original_data1.png
  ex4/k_furuta/ratio_data3.png
  ex4/k_furuta/rotate.gif
  ex4/k_furuta/rotate3D.py
  ex4/k_furuta/rotate_original.gif
  ex4/k_furuta/transformed_data2.png
Labels: EX4

#38 三浦拓実 EX4 回答 python
  ex4/t_miura/Cumsum_Conrtibution_Rate_data3.png
  ex4/t_miura/PCA_data1.png
  ex4/t_miura/PCA_data2.png
  ex4/t_miura/data1.png
  ex4/t_miura/data1_bace.png
  ex4/t_miura/data2.png
  ex4/t_miura/data2_bace.png
  ex4/t_miura/main.py
Labels: EX4

#39 小川陽平 EX4 解答 Python
  ex4/y_ogawa/baseline_result.png
  ex4/y_ogawa/baseline_result1.png
  ex4/y_ogawa/baseline_result2.png
  ex4/y_ogawa/data1.csv
  ex4/y_ogawa/data1.csv_plotresult.png
  ex4/y_ogawa/data2.csv
  ex4/y_ogawa/data2.csv_pcaresult.png
  ex4/y_ogawa/data2.csv_plotresult.png
  ex4/y_ogawa/data3.csv
  ex4/y_ogawa/main.py
Labels: EX4

#43 松本昌亮 EX5 解答 python
  ex5/m_matsumoto/data1/gaussian.png
  ex5/m_matsumoto/data1/likelihood.png
  ex5/m_matsumoto/data1/scatter.png
  ex5/m_matsumoto/data2/gaussian.png
  ex5/m_matsumoto/data2/likelihood.png
  ex5/m_matsumoto/data2/scatter.png
  ex5/m_matsumoto/data3/gaussian.png
  ex5/m_matsumoto/data3/gaussian2.png
  ex5/m_matsumoto/data3/likelihood.png
  ex5/m_matsumoto/data3/scatter.png
  ex5/m_matsumoto/main.py
Labels: EX5

#46 吉原輝 EX5 解答 python
  ex5/h_yoshihara/b4lecture_ex05.py
  ex5/h_yoshihara/data1_gaussian.png
  ex5/h_yoshihara/data1_loglikelihood.png
  ex5/h_yoshihara/data2_contour.png
  ex5/h_yoshihara/data2_gaussian.png
  ex5/h_yoshihara/data2_gaussian_0_0.png
  ex5/h_yoshihara/data2_gaussian_0_90.png
  ex5/h_yoshihara/data2_gaussian_90_0.png
  ex5/h_yoshihara/data2_loglikelihood.png
  ex5/h_yoshihara/data3_contour.png
  ex5/h_yoshihara/data3_gaussian.png
  ex5/h_yoshihara/data3_gaussian_0_0.png
  ex5/h_yoshihara/data3_gaussian_0_90.png
  ex5/h_yoshihara/data3_gaussian_90_0.png
  ex5/h_yoshihara/data3_loglikelihood.png
Labels: EX5

#47 三浦拓実 EX5 回答 python
  ex5/t_miura/data1.png
  ex5/t_miura/data1_log-likelihood.png
  ex5/t_miura/data1_mixed_dist.png
  ex5/t_miura/data2.png
  ex5/t_miura/data2_log-likelihood.png
  ex5/t_miura/data2_mixed_dist.png
  ex5/t_miura/data3.png
  ex5/t_miura/data3_log-likelihood.png
  ex5/t_miura/data3_mixed_dist.png
  ex5/t_miura/main.py
Labels: EX5

#44 宮司光梨 EX5 解答 python
  ex5/h_miyaji/ex3.py
  ex5/h_miyaji/figs/result1-1.png
  ex5/h_miyaji/figs/result1-2.png
  ex5/h_miyaji/figs/result2-1.png
  ex5/h_miyaji/figs/result2-1_color.png
  ex5/h_miyaji/figs/result2-1_error.png
  ex5/h_miyaji/figs/result2-2.png
  ex5/h_miyaji/figs/result2-2_color.png
  ex5/h_miyaji/figs/result2-2_error.png
  ex5/h_miyaji/figs/result3-1.png
  ex5/h_miyaji/figs/result3-1_color.png
  ex5/h_miyaji/figs/result3-2.png
  ex5/h_miyaji/figs/result3-2_color.png
  ex5/h_miyaji/main.py
Labels: EX5

#49 浪崎恭佑 EX5 解答 python
  ex5/k_namizaki/main5.py
Labels: EX5

#51 古田京平 EX5 解答 python
  ex5/k_furuta/history_data1.png
  ex5/k_furuta/history_data2.png
  ex5/k_furuta/history_data3.png
  ex5/k_furuta/main.py
  ex5/k_furuta/result_data1.png
  ex5/k_furuta/result_data2.png
  ex5/k_furuta/result_data3.png
Labels: EX5

#40 浪崎恭佑 EX4 解答 python
  ex4/k_namizaki/main4.py
Labels: EX4

#53 松本昌亮 EX6 解答 python
  ex6/m_matsumoto/.gitignore
  ex6/m_matsumoto/fig/data1.png
  ex6/m_matsumoto/fig/data2.png
  ex6/m_matsumoto/fig/data3.png
  ex6/m_matsumoto/fig/data4.png
  ex6/m_matsumoto/main.py
  ex6/m_matsumoto/result_data1.png
Labels: EX6

#54 吉原輝 EX6 解答 python
  ex6/h_yoshihara/b4lecture_ex06.py
  ex6/h_yoshihara/cm_1.png
  ex6/h_yoshihara/cm_2.png
  ex6/h_yoshihara/cm_3.png
  ex6/h_yoshihara/cm_4.png
Labels: EX6

#55 小川陽平 EX6 解答 python
  ex6/y_ogawa/data1.png
  ex6/y_ogawa/data2.png
  ex6/y_ogawa/data3.png
  ex6/y_ogawa/data4.png
  ex6/y_ogawa/main.py
Labels: EX6

#56 宮司光梨 EX6 解答 python
  ex6/h_miyaji/figs/result_data1.png
  ex6/h_miyaji/figs/result_data2.png
  ex6/h_miyaji/figs/result_data3.png
  ex6/h_miyaji/figs/result_data4.png
  ex6/h_miyaji/main.py
Labels: EX6

#58 三浦拓実 EX6 解答 python
  ex6/t_miura/data1.png
  ex6/t_miura/data2.png
  ex6/t_miura/data3.png
  ex6/t_miura/data4.png
  ex6/t_miura/main.py
Labels: EX6

#60 近藤健太 EX6 python 解答
  ex6/k_kondo/data1.png
  ex6/k_kondo/data2.png
  ex6/k_kondo/data3.png
  ex6/k_kondo/data4.png
  ex6/k_kondo/main.py
Labels: EX6

#57 古田京平 EX6 解答 python
  ex6/k_furuta/forward_data1.png
  ex6/k_furuta/forward_data2.png
  ex6/k_furuta/forward_data3.png
  ex6/k_furuta/forward_data4.png
  ex6/k_furuta/main.py
  ex6/k_furuta/viterbi_data1.png
  ex6/k_furuta/viterbi_data2.png
  ex6/k_furuta/viterbi_data3.png
  ex6/k_furuta/viterbi_data4.png
Labels: EX6
