Repository TakedaLab/B4Lecture-2024, pull requests merged in 2024-06, with the labels that each got.

#63 add ex9
  ex9/.gitignore
  ex9/README.md
  ex9/conf/default.yaml
  ex9/figs/result.png
  ex9/main.py
  ex9/main_example.py
  ex9/requirements.txt
Labels: EX9

#65 宮司光梨 EX7 解答 python
  ex7/h_miyaji/figs/result_test_1.png
  ex7/h_miyaji/figs/result_test_2.png
  ex7/h_miyaji/figs/result_test_3.png
  ex7/h_miyaji/figs/result_test_4.png
  ex7/h_miyaji/figs/result_test_5.png
  ex7/h_miyaji/pytorch_lightning/main.py
  ex7/h_miyaji/pytorch_lightning/run.sh
Labels: EX7

#66 吉原輝 EX7 解答 python
  ex7/h_yoshihara/cnn.py
  ex7/h_yoshihara/result01.png
  ex7/h_yoshihara/result02.png
  ex7/h_yoshihara/result03.png
  ex7/h_yoshihara/result04.png
  ex7/h_yoshihara/result05.png
Labels: EX7

#68 浪崎恭佑 EX7 解答 python
  ex7/k_namizaki/main7.py
  ex7/k_namizaki/run.sh
Labels: EX7

#69 古田京平 EX7 解答 Python
  ex7/k_furuta/feature.png
  ex7/k_furuta/main.py
  ex7/k_furuta/result_1_0.986666.png
  ex7/k_furuta/result_2_0.986666.png
  ex7/k_furuta/result_3_0.986666.png
  ex7/k_furuta/result_4_0.986666.png
  ex7/k_furuta/result_5_0.99.png
  ex7/result.png
Labels: EX7

#71 add ex8
  ex8/.gitignore
  ex8/README.md
  ex8/VAEs/VAE.py
  ex8/VAEs/VAE_example.py
  ex8/images/lattice_point/z_2.png
  ex8/images/walkthrough/z_2_0.gif
  ex8/libs/Visualize.py
  ex8/main.py
  ex8/poetry.lock
  ex8/pyproject.toml
  ex8/requirements.txt
  ex8/run.sh
  ex8/vanilla_vae/__init__.py
Labels: EX8

#76 三浦拓実 EX8 解答 python
  ex8/t_miura/VAE.py
  ex8/t_miura/Visualize.py
  ex8/t_miura/main.py
  ex8/t_miura/run.sh
Labels: EX8

#89 浪崎恭佑 EX9 解答 python
  ex9/k_namizaki/main9.py
  ex9/k_namizaki/run.sh
Labels: EX9

#84 松本昌亮 EX9 解答 python
  ex9/conf/default.yaml
  ex9/main.py
  ex9/main_example.py
  ex9/my-result.png
  ex9/run.sh
Labels: EX9

#83 小川陽平 EX9 解答 python
  ex9/y_ogawa/conf/default.yaml
  ex9/y_ogawa/figs/animation.gif
  ex9/y_ogawa/figs/generated_epoch_149.png
  ex9/y_ogawa/figs/generated_epoch_199.png
  ex9/y_ogawa/figs/generated_epoch_249.png
  ex9/y_ogawa/figs/generated_epoch_299.png
  ex9/y_ogawa/figs/generated_epoch_349.png
  ex9/y_ogawa/figs/generated_epoch_399.png
  ex9/y_ogawa/figs/generated_epoch_449.png
  ex9/y_ogawa/figs/generated_epoch_49.png
  ex9/y_ogawa/figs/generated_epoch_499.png
  ex9/y_ogawa/figs/generated_epoch_99.png
  ex9/y_ogawa/main.py
  ex9/y_ogawa/run.sh
Labels: EX9

#81 宮司光梨 EX9 解答 python
  ex9/h_miyaji/figs/diffusion_result.png
  ex9/h_miyaji/figs/generated_images_epoch_500.gif
  ex9/h_miyaji/main.py
Labels: EX9

#59 浪崎恭佑 EX6 解答 python
  ex6/k_namizaki/data1.txt
  ex6/k_namizaki/main6.py
Labels: EX6

#78 吉原輝 EX8 解答 python
  ex8/h_yoshihara/VAE.py
  ex8/h_yoshihara/Visualize.py
  ex8/h_yoshihara/main.py
  ex8/h_yoshihara/run.sh
Labels: EX8
